# dependencies
/node_modules/
/frontend/node_modules/
/frontend/.next/
/frontend/out/
/frontend/build/

# python / backend dependencies
/backend/.venv/
/backend/__pycache__/
**/__pycache__/
*.pyc
/backend/.pytest_cache/
/backend/sandbox/

# misc / env files
.DS_Store
*.pem
.env*
/frontend/.env*
/backend/.env*
/frontend/.vercel

# SQLite database files
*.db
*.sqlite
*.sqlite3

# Model caches
.cache/
.huggingface/
.pytest_cache/
